<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs') %>
  <body hidden="true" class="box-border m-0 p-0 overflow-hidden">
    <%-include('./partials/header.ejs') %>
    <main
      class="w-full max-w-7xl mx-auto"
      style="
        height: 90vh;
        background: linear-gradient(
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.8)
          ),
          url('https://www.kw.ac.kr/ko/img/ideology02_01.jpg') no-repeat;
        background-size: auto auto;
        background-position: top;
      "
    >
      <h1
        class="
          text-center text-4xl
          font-semibold
          h-1/5
          flex
          justify-center
          items-center
        "
      >
        광운대학교 소프트웨어학부 커뮤니티
      </h1>
      <div class="w-full h-4/5">
        <div class="w-full h-2/6 text-1xl leading-10 font-medium">
          <div class="text-center h-1/4">
            코로나로 인한 비대면 강의가 많아지고, 학교로의 왕래가 적어지면서
            앞으로 수강해야 할 강의에 대한 정보를 얻기 어려워졌습니다.
          </div>
          <div class="text-center h-1/4">
            우리 웹 사이트는 당신이 느끼고 있는 불편함을 어느정도 해결 할 수
            있습니다.
          </div>
          <div class="text-center h-1/4">
            선후배 관계없이 우리의 사이트에 들어와서 소프트웨어 학과에서
            실시하는 여러 수업에 대한 정보들을 얻어갈 수 있고,
          </div>
          <div class="text-center h-1/4">
            먼저 공부해 본 선배들의 노하우도 쉽게 얻어갈 수 있습니다. 뿐만
            아니라 자신의 지식을 포스팅하여 공유할 수 있습니다.
          </div>
        </div>
        <div class="w-full h-9 mt-36">
          <ul class="w-full max-w-2xl h-full m-auto flex">
            <li class="flex-1 mx-5">
              <h2 class="text-center w-full h-8">
                <a
                  href="<%= routes.community %>"
                  class="
                    hover:text-white hover:bg-black
                    transition
                    ease-linear
                    rounded-3xl
                    border border-black
                    text-xl
                    inline-block
                    w-full
                    h-full
                  "
                  >정보 알아보기</a
                >
              </h2>
            </li>
            <li class="flex-1 mx-5">
              <h2 class="text-center w-full h-8">
                <a
                  href="<%= routes.createCommunityPost %>"
                  class="
                    hover:text-white hover:bg-black
                    transition
                    ease-linear
                    rounded-3xl
                    border border-black
                    text-xl
                    inline-block
                    w-full
                    h-full
                  "
                  >정보 공유하기</a
                >
              </h2>
            </li>
            <li class="flex-1 mx-5">
              <h2 id="profileLink" class="text-center w-full h-8">
                <!-- <a href="<%= routes.profile() %>" class = "hover:text-white hover:bg-black transition ease-linear rounded-3xl border border-black text-xl inline-block w-full h-full">프로필</a>-->
              </h2>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <script src="/assets/js/home.js"></script>
  </body>
</html>
