<header
  class="
    w-full
    bg-gray-100
    p-3
    px-5
    flex
    justify-between
    items-center
    shadow-inner
    border-b border-gray-300
  "
>
  <section class="flex items-center">
    <a
      href="<%= routes.home %>"
      class="
        font-semibold
        text-4xl
        mr-5
        hover:text-blue-500
        transition-all
        p-1
        px-3
        rounded-2xl
        shadow-inner
        text-gray-600
        border border-gray-300
      "
      >2021-OOS</a
    >
    <a
      class="
        hover:text-blue-500
        transition-all
        border-l
        px-3
        border-gray-400
        font-medium
      "
      href="<%= routes.community %>"
      >커뮤니티</a
    >
    <a
      class="
        hover:text-blue-500
        transition-all
        border-l
        px-3
        border-gray-400
        font-medium
      "
      href="<%= routes.createCommunityPost %>"
      >포스팅 하기</a
    >
    <a
      class="
        hover:text-blue-500
        transition-all
        border-l
        px-3
        border-gray-400
        font-medium
      "
      href="<%= routes.chatRooms %>"
      >채팅하기
    </a>
  </section>
  <div>
    <a
      id="menuBarProfileButton"
      class="font-medium pr-3 hover:text-blue-500 transition-all"
    ></a>
    <a
      class="
        hover:text-red-500
        text-black
        transition-all
        font-medium
        border-l border-gray-400
        pl-5
      "
      id="menuBarLogout"
      href="<%= routes.logout %>"
      >로그아웃</a
    >
    <a
      class="
        hover:text-red-500
        text-black
        transition-all
        font-medium
        pl-5
        border-l border-gray-400
      "
      id="menuBarSignIn"
      href="<%= routes.auth %>"
      >로그인</a
    >
  </div>
</header>
